style
  .chart rect { fill: steelblue; stroke: white; }

h1 Analytics Dashboard

.row
  #map.span9

  #stats.span2

    dl.dl-horizontal
      dt Device Count
      dd#device-count
      dt Message Throughput
      dd#message-throughput

script(type='text/javascript', src='/javascripts/analytics.js')
