style
  .chart rect { fill: steelblue; stroke: white; }

h1 Analytics Dashboard

.row
  #map.span9

  #stats.span2

    dl.dl-horizontal
      dt Device Count
      dd#device-count

ul#location-data
  each location, device in locations
    li(id="device-#{device}")= location

script(type='text/javascript', src='/javascripts/analytics.js')
