style
  .chart rect { fill: steelblue; stroke: white; }

.row#metrics
  .metric
    .name Devices Connected
    .value#device-count --
  .metric
    .name Readings/sec
    .value#throughput --

h2 Analytics Dashboard

#map

script(type='text/javascript', src='/javascripts/analytics.js')
