style
  .chart rect { fill: steelblue; stroke: white; }
  #map img { max-width: none;  width: auto; display:inline; }

.row#metrics
  .metric
    .name 接続数
    .value#device-count --
  .metric
    .name トランザクション数／秒
    .value#throughput --

h2 製品の場所

#map

script(type='text/javascript', src='/javascripts/analytics.js')
