style
  .chart rect { fill: steelblue; stroke: white; }

h1 Analytics Dashboard

.row
  #stats.span2

    dl.dl-horizontal
      dt Device Count
      dd#device-count

      dt Readings / Sec
      dd#throughput

  .span1

  #map.span8

script(type='text/javascript', src='/javascripts/analytics.js')
