style
  .chart rect { fill: steelblue; stroke: white; }

h2 デバイスモニタ

div#device(data-id= device_id)

  .row

    table.span6.table.table-striped.table-bordered#device-attributes
      tr
        th デバイスID
        td= device_id
      tr
        th 都市
        td
          span#city_name
      tr
        th 国
        td
          span#country_name
      tr
        th 位置情報
        td
          span#location
      tr
        th センサー情報
        td
          span#temp
          &deg;C
      tr
        th 電池残量
        td#battery_level
          span#battery_readings.pull-left
          .progress
            .bar
      tr
        th 状態
        td#status

      tr
        th#control_header コントロール
        td
          form#send_to_device.form-inline
            input.input-small(type='text', name='key', placeholder="Key")
            input.input-small(type='text', name='value', placeholder="Value")
            button(type='button').btn.btn-primary Send

    #graphs.span6

      h3 センサー情報
      div#tempchart

.well#control_messages
  h3 メッセージ
  div#alerts

script(type='text/javascript', src='/javascripts/device.js')
script(type='text/javascript', src='/javascripts/highcharts.js')
