style
  .chart rect { fill: steelblue; stroke: white; }

h2= "Panasonc ThermoStat " + device_id

div#device(data-id= device_id)

  table
    tr
      td Current Temp: &nbsp;
      td
        span#temp
        &deg;C
    tr
      td Battery Level: &nbsp;
      td#battery
    tr
      td Status &nbsp;
      td#status

h3 Temperature
div#tempchart


h3 Battery
div#batterychart

h3 Control Messages
div#alerts

script(type='text/javascript', src='/javascripts/device.js')
