style
  .chart rect { fill: steelblue; stroke: white; }

h2= "Device ID: " + device_id

div#device(data-id= device_id)

  table(style='width:250px')
    tr
      td Current City: &nbsp;
      td
        span#city_name
      td
    tr
      td Current Temp: &nbsp;
      td
        span#temp
        &deg;C
      td
    tr
      td Battery Level: &nbsp;
      td#battery_readings

    tr
      td#battery_level(colspan="2")
        .progress
          .bar
    tr
      td Status &nbsp;
      td#status
      td

h3 Temperature
div#tempchart


h3 Battery
div#batterychart

h3 Control Messages
div#alerts

script(type='text/javascript', src='/javascripts/device.js')
