style
  .chart rect { fill: steelblue; stroke: white; }

h2 Device Control Panel

div#device(data-id= device_id)

  .row

    table.span6.table.table-striped.table-bordered#device-attributes
      tr
        th Device ID
        td= device_id
      tr
        th Current City
        td
          span#city_name
      tr
        th Current Location
        td
          span#location
      tr
        th Current Temp
        td
          span#temp
          &deg;C
      tr
        th Battery Level
        td#battery_level
          span#battery_readings.pull-left
          .progress
            .bar
      tr
        th Status
        td#status


    #graphs.span6

      h3 Temperature
      div#tempchart

      h3 Battery
      div#batterychart

.well#control_messages
  h3 Control Messages
  div#alerts

script(type='text/javascript', src='/javascripts/device.js')
