!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    script(type='text/javascript', src='/javascripts/jquery-1.8.3.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type="text/javascript", src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/d3.v3.min.js')
    script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCSXY3lsu_MWkPBHy7ckv8vhU1EGIlwe7g&sensor=false')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  body
    div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a.brand(href="/")= title
          ul.nav.pull-right
            li
              a(href="/") Analytics
            li
              a(href="/devices") Devices

    div.container#body-content
      != body

