dl dt label{ font-size: 1.5em; font-weight: bold; padding-bottom: 10px; }
dl dd code { max-width: 320px; overflow: scroll}
.done { text-decoration: line-through }

#status { font-weight: bold; }

#battery_readings {
  margin-right: 8px;
}

#battery_readings:after {
  content:"%"
}

#battery_level .progress {
  margin-bottom: 0px;
}

#control_messages {
  margin-top: 20px;
  padding: 4px 12px;
}

#control_messages h3 {
  margin-top: 0;
  padding-top: 0;
}

#device-attributes {
  width: 500px;
}

#device-attributes th {
  white-space: nowrap;
}

#device-attributes td {
  width: 100%;
}

#body-content {
  margin-top: 50px;
}

#map { 
  border: 1px #ccc solid;
  width: 820px;
  height: 450px;
  margin-top: 14px;
}

#tempchart {
  margin-bottom: 6px;
}

#graphs h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 1.2em;
  padding-top: 0;
  line-height: 20px;
}

#metrics {
  width: 600px;
  float: right;
  margin-right: 70px;
}

.metric {
  float: left;
  font-size: 1.1em;
  margin-top: 22px;
  margin-right: 60px;
}

.metric .name {
  float: left;
  margin-right: 10px;
}

.metric .value {
  float: left;
  font-weight: bold;
}
